@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.aboutUs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  margin-top: 70px;
  text-align: left;
  background: rgb(56, 136, 255);
  color: white;
}

.aboutImage {
  width: 60%;
}

.aboutText {
  font-size: 20px;
}

.aboutHeading {
  font-family: Poppins;
  letter-spacing: 3px;
  font-size: 30px !important;
}

.readMoreLink {
  padding: 10px 20px;
  background: rgb(255, 255, 95);
  color: black;
  font-size: 17px !important;
  border-radius: 5px;
  transition: all 0.3s;
  text-decoration: none;
}

.readMoreLink:hover {
  background: rgb(224, 224, 139);
}

.aboutDescr {
  margin-bottom: 0px;
}