#imgDiv{
    display: flex;
    flex-flow: column wrap;
}

.codeBg{
    margin-left: 30px;
    max-width: 100%;
    width: 80%;
    height: auto;
}

@media screen and (max-width: 1000px) {
    #topInfo {
        flex-direction: column;
    }
}

#main {
    padding: 50px 0;
}

#topInfo{
    display: flex;
    padding: 15px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
#infoDiv{
    margin-left:30px;
    text-align: left;
    display: flex;
    flex-flow:column wrap;
}
#infoDiv h2{
    font-weight: bolder;
    font-size:40px;
}

.links{
    width:100px;
    height:30px;
    padding:7px;
    border-radius: 30px;
    border:none;
    outline: none;
    background-color: #ffffff;
}
.links.active{
    background-color: #3a7cfc;
}

#moreInfo p{
    white-space: pre-line;
}