.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: rgb(240, 240, 240);
  box-shadow: 0 1px 5px grey;
  margin-bottom: 20px;
  align-items: center;
  padding: 10px 20px;
  font-size: 18px;
}

@media screen and (max-width: 500px) {
  .header {
    display: block;
    padding: 20px;
  }
  .title {
    margin-bottom: 15px;
  }
  .navListItem {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0 !important;
  }
  .navList {
    padding-left: 0 !important;
    display: block !important;
  }
}

.title {
  font-weight: 600;
}

.navList {
  display: flex;
  justify-content: space-between;
}

.navListItem {
  list-style-type: none;
  margin-left: 20px;
}

.navLink {
  color: black;
  text-decoration: none;
}